@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-800;
  }
}

@layer components {
  .table-header-button {
    @apply flex items-center justify-end gap-1 text-xs font-medium uppercase tracking-wide text-slate-500;
  }

  .input {
    @apply w-full border border-slate-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-brand-blue bg-white;
  }
}
